<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Your dispatch</title>
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
<link rel="stylesheet"
	href="https://use.fontawesome.com/releases/v5.2.0/css/all.css">
<link href="../static/css/main.css" th:href="@{/css/main.css}"
	rel="stylesheet">
</head>
<body>
	<div class="container">
		<div class="jumbotron jumbotron-fluid">
			<div class="container text-center text-white jumbo-container">
				<h1 class="display-3">Your dispatch</h1>
				<a th:href="@{/}">Homepage</a>
			</div>
		</div>
		<div class="col-6 offset-3" th:if="${!incident.units.isEmpty()}">
			<table class="table">
				<thead>
					<tr>
						<th scope="col">#</th>
						<th scope="col">Name</th>
						<th scope="col">Ability</th>
					</tr>
				</thead>
				<tbody th:remove="all-but-first">
					<tr th:each="unit, idx: ${incident.units}">
						<th scope="row" th:text="${idx.index+1}">1</th>
						<td th:text="${unit.name}">OSP Weglewice</td>
						<td th:text="|${unit.ability}|">fire, traffic incident, other</td>
					</tr>
					<tr>
						<th scope="row">2</th>
						<td>OSP Wieruszow</td>
						<td>fire, traffic incident</td>
					</tr>
					<tr>
						<th scope="row">3</th>
						<td>OSP Osiek</td>
						<td>traffic incident, other</td>
					</tr>
				</tbody>
			</table>
			<form action="#" th:action="@{/dispatch/realise}" method="post">

				<div class="form-group">
					<label for="localization">localization </label> <input type="text"
						class="form-control" id="localizationInput" name="localization"
						placeholder="Galewice, Polna 19">
				</div>
				<div class="text-center">
					<button class="btn btn-danger">Dispatch now!</button>
				</div>
			</form>

		</div>
		<div th:if="${incident.units.isEmpty()}" class="text-center">
			<h2>Your dispatching is empty</h2>
			<a href="#" th:href="@{/}">Dispatch to incident</a>
		</div>
	</div>

</body>
</html>