<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<title>HomePage</title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css">
    <link href="../static/css/main.css" th:href="@{/css/main.css}" rel="stylesheet">
</head>
<body>
	<div class="container">
	<div class="jumbotron jumbotron-fluid">
		<div class="container text-center text-white jumbo-container">
  		  <h1 class="display-4">OSP Units Dispatcher</h1>
  		  <p class="lead">Select units to the incident.</p>
  		  <a th:href="@{/dispatch}"> Added units to dispatch</a>
  		  <a th:href="@{/panelIncidents}"> Incidents list</a>
 		</div>
	</div>
	
	<div th:remove="all-but-first">
        <div class="media col-6 offset-3" th:each="unit: ${units}">
           <i class="fas fa-fire-extinguisher fa-4x"></i>
           <div class="media-body">
            <a href="#" th:href="@{|/unit/${#strings.replace(unit.name, ' ', '-')}|}">
           		<h5 th:text="|${unit.name}(${unit.ability})|">OSP Weglewice</h5>
           	</a>
          	<p th:text="${unit.equipment}">fire, traffic incident, other.</p>
          	<a href="#" th:href="@{/dispatch/add(unitId=${unit.id})}" class="btn btn-outline-danger">
                        Add units to dispatch!
                        
            </a>
        </div>
	</div>
 		<div class="media col-6 offset-3">
			<i class="fas fa-fire-extinguisher fa-4x"></i>
  			<div class="media-body">
  			<a href="#">
    			<h5>OSP Wieruszow</h5>
    		</a>
    		<p>Examples of equipment</p>
    		
    		</div>
 		</div>
 		
 		<div class="media col-6 offset-3">
			<i class="fas fa-fire-extinguisher fa-4x"></i>
  			<div class="media-body">
  			<a href="#">
    			<h5 class="mt-0">OSP Spole</h5>
    		</a>
    			<p>Examples of equipment</p>
    		</div>
 		</div>
 	</div>
 </div>
</body>
</html>