<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Incidents</title>
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
<link rel="stylesheet"
	href="https://use.fontawesome.com/releases/v5.2.0/css/all.css">
<link href="../../static/css/main.css" th:href="@{/css/main.css}"
	rel="stylesheet">
</head>
<body>
	<div class="container">
		<div class="jumbotron jumbotron-fluid">
			<div class="container text-center text-white jumbo-container">
				<h1 class="display-3">Incidents</h1>
				<a th:href="@{/}">Homepage</a>
			</div>
		</div>
		<div class="row">
			<div class="col-12">
				<div class="text-center mb-2">
					<a href="#" th:href="@{/panelIncidents}"
						class="btn btn-secondary mx-1">ALL</a> <a href="#"
						th:href="@{/panelIncidents(status=${T(com.stach.model.CallStatus).TRIGGERED.name()})}"
						class="btn btn-warning mx-1">TRIGGERED</a> <a href="#"
						th:href="@{/panelIncidents(status=${T(com.stach.model.CallStatus).IN_PROGRESS.name()})}"
						class="btn btn-primary mx-1">IN_PROGRESS</a> <a href="#"
						th:href="@{/panelIncidents(status=${T(com.stach.model.CallStatus).COMPLETE.name()})}"
						class="btn btn-success mx-1">COMPLETE</a>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-lg-8 offset-lg-2" th:if="${!incidents.isEmpty()}">
				<table class="table">
					<thead>
						<tr>
							<th scope="col">#</th>
							<th scope="col">Address</th>
							<th scope="col">Status</th>
							<th scope="col">Edit</th>
						</tr>
					</thead>
					<tbody th:remove="all-but-first">
						<tr th:each="incident: ${incidents}">
							<th scope="row" th:text="${incident.id}">1</th>
							<td th:text="${incident.localization}">Weglewice, Polna 19w</td>
							<th:block th:switch="${incident.status}">
								<td th:case="${T(com.stach.model.CallStatus).TRIGGERED}">TRIGGERED</td>
								<td th:case="${T(com.stach.model.CallStatus).IN_PROGRESS}">IN_PROGRESS</td>
								<td th:case="${T(com.stach.model.CallStatus).COMPLETE}">COMPLETE</td>
							</th:block>
							<td><a href="#"
								th:href="@{|/detail/incident/${incident.id}|}"
								class="btn btn-primary">Edit</a></td>
						</tr>
						<tr>
							<th scope="row">2</th>
							<td>Galewice, Boczna 3</td>
							<td>IN_PROGRESS</td>
							<td><a href="#" class="btn btn-primary">Edit</a></td>
						</tr>
						<tr>
							<th scope="row">3</th>
							<td>Osiek 234</td>
							<td>COMPLETE</td>
							<td><a href="#" class="btn btn-primary">Edit</a></td>
						</tr>
					</tbody>
				</table>
			</div>
			<div th:if="${incidents.isEmpty()}" class="text-center">
				<h2>No incidents</h2>
			</div>
		</div>
	</div>
</body>
</html>