<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title th:text="${unit.name}">OSP Weglewice</title>
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
<link rel="stylesheet"
	href="https://use.fontawesome.com/releases/v5.2.0/css/all.css">
<link href="../static/css/main.css" th:href="@{/css/main.css}"
	rel="stylesheet">
</head>
<body>
	<div class="container">
		<div class="col-lg-8 offset-lg-2">
			<img src="../static/img/truck_weglewice.jpg"
				th:src="@{${unit.imgPath}}" class="img-fluid" alt="OSP Weglewice" />
			<div class="shadow-lg p-3 mb-5 bg-white rounded">
				<h1 class="text-center" th:text="${unit.name}">OSP Weglewice</h1>
				<h3 class="text-center" th:text="${unit.ability}">fire, traffic
					incident, other</h3>
				<p class="text-justify" th:text="${unit.equipment}">Examples of
					equipment</p>
			</div>
		</div>
	</div>
</body>
</html>