<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title th:text="|Incident ${incident.id}|">Incident 1</title>
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
<link rel="stylesheet"
	href="https://use.fontawesome.com/releases/v5.2.0/css/all.css">
<link href="../../static/css/main.css" th:href="@{/css/main.css}"
	rel="stylesheet">
</head>
<body>
	<div class="container">
		<div class="jumbotron jumbotron-fluid">
			<div class="text-center text-white jumbo-container">
				<h1 class="display-3" th:text="|Incident ${incident.id}|">Incident
					1</h1>
				<th:block th:switch="${incident.status}">
					<h2 th:case="${T(com.stach.model.CallStatus).TRIGGERED}">TRIGGERED</h2>
					<h2 th:case="${T(com.stach.model.CallStatus).IN_PROGRESS}">IN_PROGRESS</h2>
					<h2 th:case="${T(com.stach.model.CallStatus).COMPLETE}">COMPLETE</h2>
				</th:block>
				<a th:href="@{/panelIncidents}">Incident list</a>
			</div>
		</div>
		<div class="row">
			<div class="col-lg-8 offset-lg-2"
				th:if="${!incident.units.isEmpty()}">
				<table class="table">
					<thead>
						<tr>
							<th scope="col">#</th>
							<th scope="col">Name</th>
							<th scope="col">Ability</th>
						</tr>
					</thead>
					<tbody th:remove="all-but-first">
						<tr th:each="unit, idx: ${incident.units}">
							<th scope="row" th:text="${idx.index+1}">1</th>
							<td th:text="${unit.name}">OSP Weglewice</td>
							<td th:text="${unit.ability}">fire, traffic incident, other</td>
						</tr>
						<tr>
							<th scope="row">2</th>
							<td>OSP Wieruszowe</td>
							<td>fire, traffic incident, other</td>
						</tr>
						<tr>
							<th scope="row">3</th>
							<td>OSP Osiek</td>
							<td>fire, traffic</td>
						</tr>
					</tbody>
				</table>
				<div class="text-center"
					th:if="${incident.status != T(com.stach.model.CallStatus).COMPLETE}">
					<form action="#" th:action="@{|/detail/incident/${incident.id}|}"
						method="post">
						<button class="btn btn-primary"
							th:if="${incident.status == T(com.stach.model.CallStatus).TRIGGERED}">TRIGGERED</button>
						<button class="btn btn-success"
							th:if="${incident.status == T(com.stach.model.CallStatus).IN_PROGRESS}">IN_PROGRESS</button>
					</form>
				</div>
			</div>
			<div class="col-12">
				<div th:if="${incident.units.isEmpty()}" class="text-center">
					<h2>Incident is empty</h2>
					<a href="#" th:href="@{/panelIncidents}">Get back to incident
						list</a>
				</div>
			</div>
		</div>
	</div>
</body>